.App {
  text-align: center;
}

body{
  background: black;
  color: white;
}

#background-video{
  /* z-index: -1000; */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.stayLeft{
  position: relative;
  right: 0;
  top: 0;
  width: 33%;
  display: block;
  float: left;
}
.stayMid{
  position: relative;
  right: 0;
  top: 0;
  width: 33%;
  display: block;
  float: left;
}
.stayRight{
  position: relative;
  right: 0;
  top: 0;
  width: 33%;
  display: block;
  float: left;
}
.OmegaTeamMembers{
  display: block;
  padding: 0px;
  text-align: center;
}
.AvailableTeamDiv{
  text-align: center;
  padding-bottom: 5px;
}
.AlphaTeamBench{
  text-align: center;
  color: gold;
}
.OmegaTeamBench{
  text-align: center;
  color: brown;
}
button{
  padding: 5px;
  margin: 3px;
  background: black;
  color: white;
}
.AvailableTeamBtn{
  padding: 5px;
  margin: 3px;
  background: green;
  color: white;
}
.AlphaTeamBtn{
  padding: 5px;
  margin: 3px;
  color: black;
  border: 2px solid gold;
}
.OmegaTeamBtn{
  padding: 5px;
  margin: 3px;
  color: black;
  border: 2px solid brown;
}
.kickBtn{
  background: red;
  color: white;
}
h1{
  margin: 5px;
}
.OmegaH3{
  color: brown;
}
.AlphaH3{
  color: gold;
}
