.App {
  text-align: center;
}

body{
  background: black;
  color: white;
}
button:disabled{
  background-color: gray;
  color: darkgray;
}
.goldBtn{
  background-color: gold;
  color: white;
  border: 0;
  width: 20%;
  font-weight: 600;
}
.redBtn{
  background-color: red;
  color: white;
  border: 0;
  width: 20%;
  font-weight: 600;
}
.lockBtn:focus{
  background-color: orange;
}
.lockBtn{
  background-color: orange;
  color: white;
  border: 0;
  width: 20%;
  font-weight: 600;
}
.unLockBtn{
  background-color: green;
  color: white;
  border: 0;
  width: 20%;
  font-weight: 600;
}
h1{
  margin: 5px;
  font-family: monospace;
  background: black;
  border-radius: 25px;
  padding: 8px;
  opacity: 0.5;
}
h3{
  background: black;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  display: -webkit-inline-box;
  font-family: monospace;
  opacity: .5;
}
#background-video{
  /* z-index: -1000; */
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  overflow: hidden;
  /* height: 100vh; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.stayLeft{
  position: relative;
  right: 0;
  top: 0;
  width: 33%;
  display: block;
  float: left;
}
.stayMid{
  position: relative;
  right: 0;
  top: 0;
  width: 33%;
  display: block;
  float: left;
}
.stayRight{
  position: relative;
  right: 0;
  top: 0;
  width: 33%;
  display: block;
  float: left;
}
.OmegaTeamMembers{
  display: block;
  padding: 0px;
  text-align: center;
}
.AvailableTeamDiv{
  text-align: center;
  padding-bottom: 5px;
}
.AlphaTeamBench{
  text-align: center;
  color: gold;
}
.OmegaTeamBench{
  text-align: center;
  color: red;
}
button{
  padding: 5px;
  margin: 3px;
  background: black;
  color: white;
}
.AvailableTeamBtn{
  padding: 5px;
  margin: 3px;
  background: green;
  color: white;
}
.AlphaTeamBtn{
  padding: 5px;
  margin: 3px;
  color: black;
  border: 2px solid gold;
}
.OmegaTeamBtn{
  padding: 5px;
  margin: 3px;
  color: black;
  border: 2px solid red;
}
.kickBtn{
  background: red;
  color: white;
}
.OmegaH3{
  color: red;
}
.AlphaH3{
  color: gold;
}
.subH3{
  /* display: block; */
  position: relative;
}
.alphaTeamGen{
  width: 30%;
  /* display: -webkit-box; */
  background-color: gold;
  color: white;
  border: 0;
  border-radius: 10px;
  font-weight: 600;
}
.omegaTeamGen{
  width: 30%;
  /* display: -webkit-box; */
  background-color: red;
  color: white;
  border: 0;
  border-radius: 10px;
  font-weight: 600;
}
.bothTeamGen{
  width: 30%;
  /* display: -webkit-box; */
  background-color: green;
  color: white;
  border: 0;
  border-radius: 10px;
  font-weight: 600;
}

@media only screen and (max-width: 500px) {
  .stayLeft{
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    display: block;
  }
  .stayMid{
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    display: block;
  }
  .stayRight{
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    display: block;
  }
  #background-video{
    position: absolute;
    left: 0;
    top: 0;
    /* width: 100%; */
    min-height: 100%;
    background-size: cover;
    overflow: hidden;
  }
}

@media only screen and (max-width: 986px) {
  .stayLeft{
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    display: block;
  }
  .stayMid{
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    display: block;
  }
  .stayRight{
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    display: block;
  }
  #background-video{
    position: absolute;
    left: 0;
    top: 0;
    /* width: 100%; */
    min-height: 100%;
    background-size: cover;
    overflow: hidden;
  }
}
